#rocket-container{
    height: 100%;
    width: 100%;
    position: absolute;
}

#rocket-container canvas{
    position: inherit;
}

#about-me-info{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #111;
    opacity: 75%;
    margin-top: 10%;
    border-radius: 25px;
    box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.6);
    height: 25%;
    width: 50%;
}

#about-me-info h1, h3{
    color: #44c7ff;
    padding: 5%;
    filter: brightness(1.5) drop-shadow(0px 0px 25px #44c7ff);
    font-size: xx-large;
}