#rocket-container{
    height: 100%;
    width: 100%;
    position: absolute;
}

#rocket-container canvas{
    position: inherit;
}

#about-me-info{
    text-align: center;
    /*! margin-left: 25%; */
    /*! margin-right: 25%; */
    background-color: #111;
    opacity: 75%;
    /*! margin-top: 10%; */
    border-radius: 25px;
    box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    transform-style: preserve-3d;
}

#about-me-info h1, h3, p{
    color: #44c7ff;
    padding: 5%;
    filter: brightness(1.5) drop-shadow(0px 0px 25px #44c7ff);
    font-size: xx-large;
}

#about-me-info p{
    color: #44c7ff;
    padding: 5%;
    filter: brightness(1.5) drop-shadow(0px 0px 25px #44c7ff);
    font-size: initial;
}

#about-me-info img{
    position: absolute;
    border-radius: 25px;
    width: 15%;
    height: 35%;
    padding: 1%;
}

#moving-zone {
    position: absolute;
    top:30%; left:30%;
    width:45%; height:40%;
    perspective: 800px;
}

#about-me-info:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}