#rocket-container{
    height: 100%;
    width: 100%;
    position: absolute;
}

#rocket-container canvas{
    position: inherit;
}

#about-me-info{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #111;
    opacity: 75%;
    margin-top: 10%;
    border-radius: 25px;
    box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.6);
    height: 20%;
    width: 40%;
}

#about-me-info h1, h3{
    color: #ddb78d;
    padding: 5%;
    filter: drop-shadow(0px 0px 20px #ddb78d);
}