* { margin: 0; padding: 0; }

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

body{
    background: linear-gradient(-45deg, #050E58, #085179,#934D51);
    background-size: 300% 300%;
    animation: change 60s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    position: relative;
    /*
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    */
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}