/*
body{
    font-family: "Pixelated MS Sans Serif", Tahoma;
}
*/
.block-centered{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 45vw;
}

#welcome{
    margin-left: 10vw;
    margin-right: 10vw;
}

#rating-bar{
    margin-bottom: 10%;
}

/*
.block-centered *{
    margin-bottom: 5%;
}
*/

#spinning-quigon{
    text-align: center;
}

.desktop{
    height: 100vh;
    width: 100vw;
    background-color: #008080;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: fixed;
    /*z-index: -999;*/
}

#desktop-icons{
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 2vh;
}

.desktop-icon{
    text-align: center;
    font-family: "Pixelated MS Sans Serif", Tahoma;
    color:#ffffff;
    margin-bottom: 4vh;
}

.desktop-icon img{
    height: 4vh;
}

.window{
    margin-top: 3vh;
}

.window-body {
    text-align: center;
}

/*
#dosbox {
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    background-color: #c0c0c0;
}
*/

#dosbox *{
    margin-bottom: 0%;
    font-family: "Pixelated MS Sans Serif", Tahoma;
    color: #6cf24f
}

.dosbox-button{
    width: 20%;
}

.dosbox-container { 
    width: 640px; height: 400px; 
}

.dosbox-canvas{
    width: 640px;
    height: 400px;
}

.dosbox-start { 
    top: 75%;
}

.dosbox-container > .dosbox-overlay { 
    background: url('/static/images/icons/spinning_quigon.gif') no-repeat;
    background-position: center;
    background-color: black;
}
