/*body{
}*/

#spinning-quigon{
    text-align: center;
    margin-top: 5%;
}

.desktop{
    height: 100vh;
    width: 100vw;
    background-color: #008080;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: fixed;
    /*z-index: -999;*/
}

#desktop-icons{
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 2vh;
}

.desktop-icon{
    text-align: center;
    font-family: "Pixelated MS Sans Serif", Tahoma;
    color:#ffffff;
    margin-bottom: 4vh;
}

.desktop-icon img{
    height: 4vh;
}

.window{
    margin-top: 4vh;
}