/*
body{
    font-family: "Pixelated MS Sans Serif", Tahoma;
}
*/
.block-centered{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 45vw;
}

#welcome{
    margin-left: 10vw;
    margin-right: 10vw;
}

#rating-bar{
    margin-bottom: 10%;
}

#spinning-quigon{
    text-align: center;
}

.desktop{
    height: 100vh;
    width: 100vw;
    background-color: #008080;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: fixed;
}

#desktop-icons{
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding-left: 1vw;
    padding-top: 2vh;
    z-index: -999;
}

.desktop-icon{
    text-align: center;
    text-decoration: none;
    font-family: "Pixelated MS Sans Serif", Tahoma;
    color:#ffffff;
    margin-bottom: 4vh;
}

.desktop-icon img{
    height: 40px;
}

.window{
    margin-top: 3vh;
    /*box-shadow: 4px 1.5px 5px #070707;*/
}

.window-body {
    text-align: center;
}

/*
#dosbox {
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    background-color: #c0c0c0;
}
*/

#dosbox *{
    margin-bottom: 0%;
    font-family: "Pixelated MS Sans Serif", Tahoma;
    color: #6cf24f
}

.dosbox-button{
    width: 20%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.dosbox-container { 
    width: 640px; height: 400px; 
}

.dosbox-canvas{
    width: 640px;
    height: 400px;
}

.dosbox-container > .dosbox-overlay { 
    background: url('/static/images/icons/spinning_quigon.gif') no-repeat;
    background-position: center;
    background-color: black;
}

#game-container {
    margin-top: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

#game-screen {
    height:400px;
    width: 640px;
    background: url('/static/images/icons/spinning_quigon.gif') no-repeat;
    background-position: center;
    background-color: black;
}

#jsdos{
    width:100%;
    height:100%;
    z-index: 0
}

.clippy{
    width: 20%;
    height:20%;
    position:fixed;
    background: url('/static/images/clippycursed.gif') no-repeat;
    background-position: center;
    z-index: 999;
}

#intro-title-bar, #rating-title-bar{
    justify-content: flex-start;
}

.title-bar img, .title-bar div img{
    padding-right: 4px;
}

#draggable-window{
    position: absolute;
    z-index: 1;
    text-align: left;
    height: 480px;
    width: 640px;
    top: 25%;
    left: 25%;
}

#rocket-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }
  
  #rocket-container canvas{
    position: inherit;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
  }
  
  #rocket-container button{
    position: absolute;
  }