{% extends 'base.html' %}
{% load static%}

{%block title%}
    About Me
{%endblock title%}

{%block css %}
<link rel="stylesheet" href="{% static '/css/about_me.css' %}"> 
{%endblock css %}

{%block scripts%}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
    <script type="text/javascript" src="{% static '/js/rocket.js' %}" defer></script>
{%endblock scripts%}

{% block content %}
    <div id="rocket-container">
    </div>
    <div id="about-me-info">
        <h1>$ Logan Scheid</h1>
        <h3>$ Developer, MIDI Musician, Sports Nerd</h3>
    </div>
{% endblock content %}