{% extends 'base.html' %}
{% load static%}

{%block title%}
    About Me
{%endblock title%}

{%block css %}
<link rel="stylesheet" href="{% static '/css/about_me.css' %}"> 
{%endblock css %}

{%block scripts%}
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>-->
    <script type="text/javascript" src="{% static '/js/temp/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/rocket.js' %}" defer></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>-->
    <script type="text/javascript" src="{% static '/js/temp/jquery-3.5.1.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static '/js/3DPopup.js' %}" defer></script>
{%endblock scripts%}

{% block content %}
<div id="moving-zone">
    <div id="about-me-info">
        <img src="{% static '/images/me.png'%}">
        <h1>$ Logan Scheid</h1>
        <h3>$ Developer, MIDI Musician, Sports Nerd</h3>
        <p>$ I have a passion for creativity, in all forms. I love to come 
            up with solutions to problems by thinking outside the realm of normality.</p>
    </div>
</div>
<div id="rocket-container"></div>
{% endblock content %}