{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<script src="{% static 'js/navbar.js' %}"></script>
<div id="navbar">
    <img id = "icon" src="{% static 'images/quicon.png' %}" alt="quicon logo">
    <a id= "nav-selected" class = "navLink" href="#"><img src = "{% static 'images/Icon awesome-home@2x.png'%}"></a>
    <a class = "navLink" href="#"><img src = "{% static 'images/Icon awesome-code@2x.png'%}"></a>
    <a class = "navLink" href="#"><img src = "{% static 'images/Icon open-person@2x.png'%}"></a>
    <a class = "navLink" href="#"><img src = "{% static 'images/Icon material-work@2x.png'%}"></a>
    <a class = "navLink" href="#"><img src = "{% static 'images/Icon material-mail-outline@2x.png'%}"></a>
</div>