{% extends 'base.html' %}
{% load static%}

{%block title%}
    Software Work
{%endblock title%}

{%block css%}
<link rel="stylesheet" href="{% static '/css/software_work.css' %}"> 
{%endblock css%}

{%block scripts%}
{%endblock scripts%}

{% block content %}
<div id="works-container">
    <div class="worksRow">
        <div class="work">

        </div>
        <div class="work">
            
        </div>
        <div class="work">
            
        </div>
    </div>
    <div class="worksRow">
        <div class="work">

        </div>
        <div class="work">
            
        </div>
        <div class="work">
            
        </div>
    </div>
</div>
{% endblock content %}