{% load static%}

{%block title%}
{%endblock title%}

{%block content_css%}
<link rel="stylesheet" href="{% static 'css/windows.css' %}">
<link rel="stylesheet" href="https://unpkg.com/98.css" >
{%endblock content_css%}

{%block scripts%}
    <script type="text/javascript" src="{% static 'js/windows.js' %}"></script>
    <script type="text/javascript" src="https://js-dos.com/cdn/js-dos-api.js"></script>
{%endblock scripts%}

{% block content %}
<body>
  <div class="desktop">
    <div id="desktop-icons">
      <div class="desktop-icon">
        <img src="{% static 'images/icons/logan.png' %}">
        <p>Logan.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/projects.png' %}">
        <p>Projects.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/resume.png' %}">
        <p>Resume.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/contactme.png' %}">
        <p>Contact_Me.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/linkedin.png' %}">
        <p>LinkedIn.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/github.png' %}">
        <p>Github.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/medium.png' %}">
        <p>Medium.exe</p>
      </div>
    </div>
<div class="block-centered">
<div class="window" id="welcome">
    <div class="title-bar">
      <div class="title-bar-text">
        Welcome
      </div>
    </div>
    <div class="window-body" style="text-align: center;">
      <p><b>Hey there! Welcome to my portfolio site!</b></p>
      <p>Navigating around should feel pretty self-explanatory ;) Go ahead and take a trip down memory lane first, 
          then learn about me and my work. Be on the lookout for some hidden easter eggs!</p>
      <p style="margin-bottom: 0;">
        &nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) 
      </p>
      <p style="margin-top: 0;">
        &nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w  
      </p>
      <p>Let me know what you think of the design down below!</p>
    </div>
  </div>

<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">Steam98.exe</div>
  </div>
  <div class="window-body">
    <div id="dosbox"></div>
    <br/>
    <button class="dosbox-button" onclick="dosbox.requestFullScreen();">Make Fullscreen</button>
    <button class="dosbox-button" onclick="exitGame();">Exit Game</button> 
    <script type="text/javascript"> 
      var dosbox = new Dosbox({
        id: "dosbox",
        onload: function (dosbox) {
          /*dosbox.run("{% static '/assets/games/DIGGER.zip' %}", "./DIGGER.COM");*/
          dosbox.run("{% static '/assets/games/DOOM.zip' %}", "./DOOM.EXE");
          /*dosbox.run("{% static '/assets/games/ARENA.zip' %}", "./ARENA.BAT");*/
          /*dosbox.run("{% static '/assets/games/MK3.zip' %}", "./MK3.EXE");*/
          /*dosbox.run("{% static '/assets/games/DARKFORCES.zip' %}", "./DF.EXE");*/
          /*dosbox.run("{% static '/assets/games/DUKE3D.zip' %}", "./DUKE3D.EXE");*/
          /*dosbox.run("{% static '/assets/games/SUPERSTREETFIGHTER2T.zip' %}", "./SF2TURBO.EXE");*/
          /*dosbox.run("{% static '/assets/games/SYSTEMSHOCK.zip' %}", "./SSHOCK.EXE");*/
          /*dosbox.run("{% static '/assets/games/TETRIS.zip' %}", "./SABA.EXE");*/
          /*dosbox.run("{% static '/assets/games/WOLF3D.zip' %}", "./WOLF3D.EXE");*/
          /*dosbox.run("{% static '/assets/games/PACMAN.zip' %}", "./MSPAC.EXE");*/
          /*dosbox.run("{% static '/assets/games/SOLITAIRE.zip' %}", "./SOLSUITE.EXE");*/
          /*dosbox.run("{% static '/assets/games/MARIO.zip' %}", "./MARIO.EXE");*/
        },
        onrun: function (dosbox, app) {
          console.log("App '" + app + "' is being ran");
        }
      });
    </script>
  </div>
  <div class="status-bar">
    <p class="status-bar-field">Press F1 for help</p>
    <p class="status-bar-field">Pick a game from the Games folder in the Start menu</p>
    <p class="status-bar-field">CPU Usage: 99%</p>
  </div>
</div>
<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">Rating</div>
  </div>
  <div class="window-body">
    <p>Leave a rating!</p>
    <div class="field-row" id="rating-bar">
      <label for="range22">Rating:</label>
      <label for="range23">0</label>
      <input id="range23" type="range" min="0" max="10" value="5" />
      <label for="range24">10</label>
    </div>
    <button>Submit Rating</button>
  </div>
</div>
</div>
</div>
{% include "taskbar.html" %}
</body>
{% endblock content %}

<head>

</head>
<body>
  
</body>