{% load static%}

{%block title%}
{%endblock title%}

{%block content_css%}
<link rel="stylesheet" href="{% static 'css/windows.css' %}">
<link rel="stylesheet" href="https://unpkg.com/98.css" >
{%endblock content_css%}

{%block scripts%}
    <script type="text/javascript" src="{% static 'js/windows.js' %}"></script>
    <script type="text/javascript" src="https://js-dos.com/cdn/js-dos-api.js"></script>
{%endblock scripts%}

{% block content %}
<body>
  <div class="desktop">
    <div id="desktop-icons">
      <a class="desktop-icon">
        <img src="{% static 'images/icons/logan.png' %}">
        <p>Logan.exe</p>
      </a>
      <a class="desktop-icon">
        <img src="{% static 'images/icons/projects.png' %}">
        <p>Projects.exe</p>
      </a>
      <a class="desktop-icon">
        <img src="{% static 'images/icons/resume.png' %}">
        <p>Resume.exe</p>
      </a>
      <a class="desktop-icon">
        <img src="{% static 'images/icons/contactme.png' %}">
        <p>Contact_Me.exe</p>
      </a>
      <a class="desktop-icon" href="https://www.linkedin.com/in/logan-scheid-287753137" target="_blank">
        <img src="{% static 'images/icons/linkedin.png' %}">
        <p>LinkedIn.html</p>
      </a>
      <a class="desktop-icon" href="https://github.com/djquigon" target="_blank">
        <img src="{% static 'images/icons/github.png' %}">
        <p>Github.html</p>
      </a>
      <a class="desktop-icon" href="https://medium.com/@scheidlogan" target="_blank">
        <img src="{% static 'images/icons/medium.png' %}">
        <p>Medium.html</p>
      </a>
    </div>
<div class="block-centered">
<div class="window" id="welcome">
    <div class="title-bar">
      <div class="title-bar-text">
        Welcome
      </div>
    </div>
    <div class="window-body" style="text-align: center;">
      <p><b>Hey there! Welcome to my portfolio site!</b></p>
      <p>Navigating around should feel pretty self-explanatory ;) Go ahead and take a trip down memory lane first, 
          then learn about me and my work. Be on the lookout for some hidden easter eggs!</p>
      <p style="margin-bottom: 0;">
        &nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) 
      </p>
      <p style="margin-top: 0;">
        &nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w  
      </p>
      <p>Let me know what you think of the design by leaving a rating and feedback!</p>
    </div>
  </div>

<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">Steam98.exe</div>
  </div>
  <div class="window-body">
    <div id="game-container"class="window">
    <div id="game-screen">
    <div id="dosbox"><span id="game" class="no-game"></span></div>
  </div>
    <button disabled class="dosbox-button" onclick="dosbox.requestFullScreen;">Make Fullscreen</button>
    <button disabled class="dosbox-button" onclick="ejectGame();">Eject Game</button> 
  </div>
</div>
  <div class="status-bar">
    <p class="status-bar-field">Press F1 for help</p>
    <p id="game-title" class="status-bar-field">Pick a game from the Games folder in the Start menu</p>
    <p class="status-bar-field">CPU Usage: 99%</p>
  </div>
</div>
<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">Rating</div>
  </div>
  <div class="window-body">
    <p>Leave a rating!</p>
    <div class="field-row" id="rating-bar">
      <label for="range22">Rating:</label>
      <label for="range23">0</label>
      <input id="range23" type="range" min="0" max="10" value="5" />
      <label for="range24">10</label>
    </div>
    <button>Submit Rating</button>
  </div>
</div>
</div>
</div>
{% include "taskbar.html" %}
</body>
{% endblock content %}

<head>

</head>
<body>
  
</body>