{% load static%}

{%block title%}
{%endblock title%}

{%block content_css%}
<link rel="stylesheet" href="{% static 'css/windows.css' %}">
<link rel="stylesheet" href="https://unpkg.com/98.css" >
{%endblock content_css%}

{% block content %}
<body>
  <div class="desktop">
    <div id="desktop-icons">
      <div class="desktop-icon">
        <img src="{% static 'images/icons/logan.png' %}">
        <p>Logan.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/projects.png' %}">
        <p>Projects.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/resume.png' %}">
        <p>Resume.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/contactme.png' %}">
        <p>Contact_Me.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/linkedin.png' %}">
        <p>LinkedIn.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/github.png' %}">
        <p>Github.exe</p>
      </div>
      <div class="desktop-icon">
        <img src="{% static 'images/icons/medium.png' %}">
        <p>Medium.exe</p>
      </div>
    </div>
<div class="block-centered" style="width: 400px">
  
<div class="window">
    <div class="title-bar">
      <div class="title-bar-text">
        Welcome
      </div>
    </div>
    <div class="window-body" style="text-align: center;">
      <p><b>Hey there! Welcome to my portfolio site!</b></p>
      <p>Navigating around should feel pretty self-explanatory ;) Go ahead and take a trip down memory lane first, 
          then learn about me and my work. Be on the lookout for some hidden easter eggs!</p>
      <p style="margin-bottom: 0;">
        &nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(\_/) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(0 0) 
      </p>
      <p style="margin-top: 0; margin-bottom: 0;">
        &nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(> >) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(v v) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(< <) 
      </p>
      <p style="margin-top: 0;">
        &nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspw w  
      </p>
      <p>Let me know what you think of the design down below!</p>
    </div>
  </div>
</div>
<div id="spinning-quigon">
  <img src="{% static 'images/icons/spinning_quigon.gif' %}">
</div>
</div>
{% include "taskbar.html" %}
</body>
{% endblock content %}